{
    "rules": {
        "eqeqeq": "off",
        "curly": "warn",
        "quotes": ["warn", "double"]
    },
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
    },

    "env": {
        "es6": true
    }
}
