body.privacy_active .phtivsaildraw-toolbar {
	display: none;
}

#phtivsaildraw-btn-sync.running {
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-name: phtivsaildraw-sync-running;
	        animation-name: phtivsaildraw-sync-running;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}
@-webkit-keyframes phtivsaildraw-sync-running {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
@keyframes phtivsaildraw-sync-running {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

#phtivsaildraw-menu-config {
	display: box; /* old value, for Android */
	display: flex;
	margin: -12px;
	position: relative;
}
#phtivsaildraw-menu-config.mobile {
	background: transparent;
	padding: 0;
	border: 0 none;
	margin: 0;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
	overflow: auto;
}
#phtivsaildraw-menu-config .progress {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 3px;
	background-color: #EEEEEE;
	display: none;
}
#phtivsaildraw-menu-config.showprogress .progress {
	display: block;
}
#phtivsaildraw-menu-config .progress .progress-value {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #FFCE00;
	width: 0%;
}
#phtivsaildraw-menu-config nav {
	display: block;
	min-height: 150px;
	width: 150px;
	border-right: 1px solid #20A8B1;
	vertical-align: top;
	flex-shrink: 0;
	flex-grow: 0;
	box-shrink: 0;
	box-grow: 0;
}
#phtivsaildraw-menu-config .tabs {
	position: relative;
	padding: 10px;
	flex-shrink: 1;
	flex-grow: 1;
	box-shrink: 1;
	box-grow: 1;
	/* max-width: 320px; */
}
#phtivsaildraw-menu-config nav a {
	color: white;
	padding: 0.5em;
	display: block;
	text-weight: bold;
	border-bottom: 1px solid #20A8B1;
	text-decoration: none;
}
#phtivsaildraw-menu-config nav a:last-child {
	border-bottom-width: 0;
}
#phtivsaildraw-menu-config nav a:hover {
	background-color: #083C4E;
}
#phtivsaildraw-menu-config nav a.clicked {
	background-color: #20A8B1;
}
#phtivsaildraw-menu-config section h2 {
	font-size: 18px;
	margin: 0 0 0.4em 0;
	padding: 0;
}
#phtivsaildraw-menu-config section h2 small {
	color: #CCCCCC;
	vertical-align: top;
}
#phtivsaildraw-menu-config hr {
	border: 0;
	height: 1px;
	background-color: #20A8B1
}
#phtivsaildraw-menu-config fieldset {
	border: 1px solid #20a8b1;
	padding: 0 0.625em;
}
#phtivsaildraw-menu-config legend {
	color: #ffce00;
	font-weight: bold;
}
#phtivsaildraw-menu-config p {
	margin: 0.5em 0;
}
#phtivsaildraw-menu-config label {
	display: block;
}
#phtivsaildraw-menu-config label input {
	vertical-align: middle;
	margin: 0 0.2em;
}
#phtivsaildraw-menu-config-select {
	display: none;
	flex-shrink: 0;
	flex-grow: 0;
	box-shrink: 0;
	box-grow: 0;
	padding: 5px 10px 0;
}
#phtivsaildraw-menu-config-select select {
	padding: 7px;
}
#phtivsaildraw-menu-config-select hr {
	margin: 5px -10px 0;
}
@media (max-width: 959px) {
	#phtivsaildraw-menu-config {
		flex-direction: column;
		box-direction: column;
	}
	#phtivsaildraw-menu-config nav {
		display: none;
	}
	#phtivsaildraw-menu-config-select {
		display: block;
	}
}

.phtivsaildraw-dialog .ui-dialog-content input,
.phtivsaildraw-dialog .ui-dialog-content textarea {
	border: 1px solid #20a8b1;
	color: #ffce00;
	background-color: rgba(0, 0, 0, 0.3);
}
.phtivsaildraw-dialog p {
	margin: 0 0 6px;
}

.ui-dialog-title{
   white-space: normal;
}

.phtivsaildraw-dialog-portals > .ui-dialog-content,
.phtivsaildraw-dialog-link > .ui-dialog-content,
.phtivsaildraw-dialog-polygon > .ui-dialog-content {
	padding: 6px 6px 0;
}
.phtivsaildraw-dialog-portals .name label {
	align-items: baseline;
	display: flex;
}
.phtivsaildraw-dialog-portals .name label > *{
	flex-grow: 1;
	margin-left: 0.5em;
}
.phtivsaildraw-dialog textarea.desc,
.phtivsaildraw-dialog .desc textarea {
	box-sizing: border-box;
	width: 100%;
	height: 4.5em;
	padding: 3px;
	resize: vertical;
}
.phtivsaildraw-dialog-portals .keys input,
.phtivsaildraw-dialog-link .keys input {
	width: 6em;
	padding-right: 0;
}
.phtivsaildraw-dialog-portals .keys input,
.phtivsaildraw-dialog-link .keys input {
	margin-left: 6px;
}
.phtivsaildraw-dialog-portals .details,
.phtivsaildraw-dialog-link .details,
.phtivsaildraw-dialog-polygon .details {
	display: box;
	display: flex;
	align-items: center;
}
.phtivsaildraw-dialog-portals .phtivsaildraw-layer,
.phtivsaildraw-dialog-link .phtivsaildraw-layer,
.phtivsaildraw-dialog-polygon .phtivsaildraw-layer {
	margin-left: 12px;
	flex: 1 1 auto;
	box: 1 1 auto;
}
.phtivsaildraw-dialog-portals .positionwarning.hidden {
	display: none;
}
.phtivsaildraw-dialog-portals .positionwarning {
	background-color: yellow;
	border: 2px solid red;
	color: red;
	font-weight: bold;
	padding: 0.3em;
}

.phtivsaildraw-dialog-link .linkportals {
	display: box;
	display: flex;
	margin: 0 -6px 6px;
}
.phtivsaildraw-dialog-link .linkportals > span {
	flex: 1 1 50%;
	box: 1 1 50%;
	margin: 0 6px;
}

.phtivsaildraw-dialog-links > .ui-dialog-content {
	padding: 0;
}
.phtivsaildraw-dialog-links > .ui-dialog-content > div {
	display: flex;
	flex-direction: column;
}
.phtivsaildraw-dialog-links textarea.desc {
	margin: 6px 6px 3px;
	height: 2em;
	width: auto;
	padding: 4px;
}
.phtivsaildraw-dialog-links table {
	border-spacing: 0;
}
.phtivsaildraw-dialog-links td {
	vertical-align: middle;
	white-space: nowrap;
	padding: 1px 1px 0 0;
}
.phtivsaildraw-dialog-links td:first-child,
.phtivsaildraw-dialog-links .arrow {
	text-align: center;
	width: 20px;
	display: inline-block;
}
.phtivsaildraw-dialog-links input[type="checkbox"] {
	margin: 0;
	vertical-align: middle;
}
.phtivsaildraw-dialog-links table button {
	display: inline-block;
	padding: 1px 4px;
	font-size: 1em;
	line-height: 1.25em;
}
.phtivsaildraw-dialog-links button.portal-dropdown {
	padding: 1px 0px;
	min-width: 0;
	border-left-width: 0;
}
.phtivsaildraw-dialog-links .portal {
	padding-right: 6px;
	padding-left: 2px;
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.phtivsaildraw-dialog-links .buttonbar {
	display: box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #20a8b1;
	margin: 6px 0 0 -6px;
	padding: 6px;
}
.phtivsaildraw-dialog-links .buttonbar > label {
	width: 5em;
}

.phtivsaildraw-dialog-alerts .ui-dialog-content {
	min-height: 0 !important;
}
.phtivsaildraw-dialog-alerts .ui-dialog-content > div {
	margin: -6px;
}
.phtivsaildraw-dialog-alerts .flex {
	display: box; /* old value, for Android */
	display: flex;
	align-items: center;
	white-space: nowrap;
}
.phtivsaildraw-dialog-alerts .flex * {
	flex: 1 0 0;
	box: 1 0 0;
}
.phtivsaildraw-dialog-alerts .flex input {
	border: 1px solid #20a8b1;
	margin-left: 0.2em;
}
.phtivsaildraw-dialog-alerts .flex select {
	width: 0; /* Chrome would expand to fit the contents otherwise */
}
.phtivsaildraw-targetselect {
	display: flex;
	align-items: baseline;
}
.phtivsaildraw-targetselect > strong {
	flex: 1 0 0;
	box: 1 0 0;
	margin: 0 0.2em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.phtivsaildraw-targetselect > .phtivsaildraw-overflow-button {
	align-self: stretch;
	background-color: rgba(8, 48, 78, 0.9);
	border: 1px solid #ffce00;
	color: #ffce00;
	padding: 2px;
}

.phtivsaildraw-dialog-polygon .details > .color {
	display: inline-box;
	display: inline-flex;
	align-items: center;
}
.phtivsaildraw-dialog-polygon .details > .color input,
.phtivsaildraw-dialog-polygon .details > .color .sp-replacer {
	margin-left: 0.5em;
}

.phtivsaildraw-color-picker .sp-input {
	border: 1px solid #666;
	background-color: transparent;
	color: #222;
}
.phtivsaildraw-color-picker .sp-cf {
	min-height: 0.5em;
}

.phtivsaildraw-layer {
	display: inline-box; /* old value, for Android */
	display: inline-flex;
	align-items: center;
}
.phtivsaildraw-layer label {
	margin-right: 0.5em;
}
.phtivsaildraw-layer.nolabel label {
	display: none;
}
.phtivsaildraw-layer .preview {
	display: inline-block;
	width: 0.5rem;
	min-height: 20px;
	align-self: stretch;
}
.phtivsaildraw-layer select,
.phtivsaildraw-layer .output {
	flex: 1 1 auto;
	box: 1 1 auto;
	/* the select has a default width which we want to unset */
	min-width: 6em;
	width: 0;
}
.phtivsaildraw-layer .output {
	min-width: 4em;
}
.phtivsaildraw-layer option span {
	display: inline-block;
	float: left;
	vertical-align: top;
	height: 1em;
	width: 1em;
	margin-right: 0.25em;
}
.phtivsaildraw-layer .output {
	margin-left: 4px;
}

