/* allow +600px width dialog */
.ui-dialog {
  max-width: calc(100vw - 2px);
}

/* use enl/res color for link in dialog */
.ui-dialog a.enl {
  color: #03fe03;
}

.ui-dialog a.res {
  color: #00c5ff;
}

