.wasabee-section {
  position: relative;
}

.wasabee-toolbar {
  margin-top: 12px;
}

.wasabee-toolbar-top {
  margin-top: 0;
}

.wasabee-toolbar-notop a:first-child {
  border-top-right-radius: 0;
}

.wasabee-toolbar-nobottom a:last-child {
  border-bottom-right-radius: 0;
}

.wasabee a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.wasabee-actions {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 26px; /* wasabee-toolbar.left + wasabee-toolbar.width */
  top: 0;
  white-space: nowrap;
}

.wasabee-right .wasabee-actions {
  right: 26px;
  left: auto;
}

.wasabee-actions li {
  display: inline-block;
}

.wasabee-actions li:first-child a {
  border-left: none;
}

.wasabee-actions li:last-child a {
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.wasabee-right .wasabee-actions li:last-child a {
  -webkit-border-radius: 0;
  border-radius: 0;
}

.wasabee-right .wasabee-actions li:first-child a {
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.wasabee-actions a {
  background-color: #919187;
  border-left: 1px solid #aaa;
  color: #fff;
  font: 11px/19px "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 28px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 28px;
}

.wasabee-actions-bottom {
  margin-top: 0;
}

.wasabee-actions-top {
  margin-top: 1px;
}

.wasabee-actions-top a,
.wasabee-actions-bottom a {
  height: 27px;
  line-height: 27px;
}

.wasabee-actions a:hover {
  background-color: #a0a098;
}

.wasabee-actions-top.wasabee-actions-bottom a {
  height: 26px;
  line-height: 26px;
}

/* ================================================================== */
/* Draw toolbar
/* ================================================================== */

.wasabee-toolbar .wasabee-draw-polyline {
  background-position: -2px -2px;
}

.wasabee-toolbar .wasabee-draw-polygon {
  background-position: -31px -2px;
}

.wasabee-toolbar .wasabee-draw-rectangle {
  background-position: -62px -2px;
}

.wasabee-toolbar .wasabee-draw-circle {
  background-position: -92px -2px;
}

.wasabee-toolbar .wasabee-draw-marker {
  background-position: -122px -2px;
}

/* ================================================================== */
/* Edit toolbar
/* ================================================================== */

.wasabee-toolbar .wasabee-edit-edit {
  background-position: -152px -2px;
}

.wasabee-toolbar .wasabee-edit-remove {
  background-position: -182px -2px;
}

.wasabee-mouse-marker {
  background-color: #fff;
  cursor: crosshair;
}

.wasabee-tooltip {
  background: rgb(54, 54, 54);
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  font: 12px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-top: -21px;
  padding: 4px 8px;
  position: absolute;
  white-space: nowrap;
  z-index: 6;
}

.wasabee-tooltip:before {
  border-right: 6px solid black;
  border-right-color: rgba(0, 0, 0, 0.5);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  content: "";
  position: absolute;
  top: 7px;
  left: -7px;
}

.wasabee-error-tooltip {
  background-color: #f2dede;
  border: 1px solid #e6b6bd;
  color: #b94a48;
}

.wasabee-error-tooltip:before {
  border-right-color: #e6b6bd;
}

.wasabee-tooltip-single {
  margin-top: -12px;
}

.wasabee-tooltip-subtext {
  color: #f8d5e4;
}

