.wasabee-table {
    border-collapse: collapse;
    empty-cells: show;
    width: 100%;
    clear: both;
}

.wasabee-table td,
.wasabee-table th {
    border-width: 0 1px;
    border-style: solid;
    border-color: rgba(8, 48, 78, 0.75);
    padding: 3px 4px;
    text-align: left;
}

.wasabee-table td:first-child,
.wasabee-table th:first-child {
    border-left-width: 0;
}

.wasabee-table td:last-child,
.wasabee-table th:last-child {
    border-right-width: 0;
}

.wasabee-table tbody tr:nth-child(2n+1) td {
    border-color: rgba(25, 63, 95, 0.75);
}

.wasabee-table tr {
    background: rgba(25, 63, 95, 0.75);
}

.wasabee-table tbody tr:nth-child(2n+1) {
    background: rgba(8, 48, 78, 0.75);
}

.wasabee-table>thead .sortable {
    cursor: pointer;
}

.wasabee-table>thead .sorted {
    color: #ffce00;
}

.wasabee-table>thead .sortable:before {
    content: " ";
    display: inline-block;
    float: right;
    min-width: 1em;
    text-align: right;
}

.wasabee-table>thead .sortable.asc:before {
    content: "\25b2";
}

.wasabee-table>thead .sortable.desc:before {
    content: "\25bc";
}

.wasabee-table td.menu {
    position: relative;
    min-height: 20px;
    min-width: 24px;
}

.wasabee-table td.menu>.wasabee-overflow-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.wasabee-dialog-portallist .keys,
.wasabee-dialog-portallist .links {
    width: 3.5em;
    /* will expand to fit content */
    text-align: right;
}

.wasabee-dialog-portallist .warn {
    color: #ff0;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
}

.wasabee-dialog-portallist .warn.error {
    color: #f00;
}


/* style.css sets dialog max-width to 700px - override that here */

.wasabee-dialog-linklist {
    max-width: 1000px !important;
}

.wasabee-dialog-portallist>.ui-dialog-content,
.wasabee-dialog-linklist>.ui-dialog-content,
.wasabee-dialog-alertlist>.ui-dialog-content {
    padding: 0;
}

.wasabee-dialog-linklist .wasabee-layer {
    margin: -4px 0 -4px -4px;
}

.wasabee-dialog-linklist td.keys,
.wasabee-dialog-linklist td.length {
    text-align: right;
}

.wasabee-dialog-alertlist td {
    vertical-align: baseline;
}

.wasabee-dialog-alertlist .assignee {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10em;
}

.wasabee-dialog-alertlist .resolved button {
    margin: -3px 0;
    padding: 0 0.5em 1px;
}

#wasabee-fake-button {
    position: absolute;
    top: -9999em;
    left: -9999em;
}

.wasabee-alerts-num {
    color: #00FF00;
}

.wasabee-alerts-num.new {
    color: #ff0000;
    font-weight: bold;
}

.wasabee-agentselect .wasabee-group-indicator {
    float: right;
    margin-left: 0.25em;
}

.wasabee-group-container {
    border: 1px solid currentColor;
    display: inline-block;
    height: 1.2em;
    line-height: 1.2em;
    margin: 1px 0.25em 1px 0;
    padding: 0 0.25em;
}

.wasabee-group-container>.wasabee-group-indicator {
    margin-left: -0.25em;
    margin-right: 0.25em;
    height: 1.2em;
    width: 1.2em;
}

.wasabee-group-indicator {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    vertical-align: top;
}

.wasabee-group-indicator>div {
    height: 1em;
    float: left;
}

.wasabee-popup {
    max-width: 300px;
}

.wasabee-dialog .desc p,
.wasabee-dialog .desc ul,
.wasabee-popup p,
.wasabee-popup ul {
    margin: 0;
}

.wasabee-popup a {
    color: #0099CC;
}

.wasabee-dialog .desc ul,
.wasabee-polygon-label ul,
.wasabee-popup .desc ul {
    padding-left: 1.5em;
}

.wasabee-dialog .desc em,
.wasabee-polygon-label em,
.wasabee-popup .desc em {
    color: inherit;
    font-style: italic;
}

.wasabee-popup.portal .ui-dialog-buttonset {
    display: box;
    display: flex;
    margin-top: 6px;
}

.wasabee-popup.portal .ui-dialog-buttonset button {
    flex-grow: 1;
    box-grow: 1;
}

.wasabee-popup img.avatar {
    max-width: 96px;
    max-height: 96px;
    margin-left: 4px;
    float: right;
}

.wasabee-keys-overlay,
.wasabee-agent-label,
.wasabee-polygon-label {
    color: #FFFFBB;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000, 0 0 5px #000;
    pointer-events: none;
}

.wasabee-keys-overlay {
    line-height: 21px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
}

.wasabee-polygon-label {
    vertical-align: middle;
    font-weight: bolder;
    text-shadow: 0 0 1px white;
}

.wasabee-polygon-label p,
.wasabee-polygon-label ul {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wasabee-overflow-button {
    display: inline-box;
    display: inline-flex;
    min-width: 24px;
    min-height: 20px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    text-decoration: none !important;
    color: #ffce00;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.wasabee-overflow-button span {
    flex: 0 0 auto;
    box: 0 0 auto;
}

.wasabee-overflow-menu {
    border: 1px solid #20a8b1;
    background: rgba(8, 48, 78, 0.9);
    color: #ffce00;
    padding: 0;
    margin: 0;
    position: absolute;
    list-style: none;
    z-index: 30000;
    max-height: 70%;
    max-width: 25em;
    overflow-y: auto;
    overflow-x: hidden;
}

.wasabee-overflow-menu a {
    display: block;
    padding: 0.5em;
    min-width: 8em;
    text-decoration: none;
    outline: 0 transparent none !important;
}

.wasabee-overflow-menu a:hover {
    text-decoration: none;
    background-color: rgba(32, 168, 177, 0.7);
}

.wasabee-overflow-menu a:focus,
.wasabee-overflow-menu a:active {
    text-decoration: underline;
}

zɚwZ^ܲڱ.wasabee-table {
    border-collapse: collapse;
    empty-cells: show;
    width: 100%;
    clear: both;
}

.wasabee-table td,
.wasabee-table th {
    border-width: 0 1px;
    border-style: solid;
    border-color: rgba(8, 48, 78, 0.75);
    padding: 3px 4px;
    text-align: left;
}

.wasabee-table td:first-child,
.wasabee-table th:first-child {
    border-left-width: 0;
}

.wasabee-table td:last-child,
.wasabee-table th:last-child {
    border-right-width: 0;
}

.wasabee-table tbody tr:nth-child(2n+1) td {
    border-color: rgba(25, 63, 95, 0.75);
}

.wasabee-table tr {
    background: rgba(25, 63, 95, 0.75);
}

.wasabee-table tbody tr:nth-child(2n+1) {
    background: rgba(8, 48, 78, 0.75);
}

.wasabee-table>thead .sortable {
    cursor: pointer;
}

.wasabee-table>thead .sorted {
    color: #ffce00;
}

.wasabee-table>thead .sortable:before {
    content: " ";
    display: inline-block;
    float: right;
    min-width: 1em;
    text-align: right;
}

.wasabee-table>thead .sortable.asc:before {
    content: "\25b2";
}

.wasabee-table>thead .sortable.desc:before {
    content: "\25bc";
}

.wasabee-table td.menu {
    position: relative;
    min-height: 20px;
    min-width: 24px;
}

.wasabee-table td.menu>.wasabee-overflow-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.wasabee-dialog-portallist .keys,
.wasabee-dialog-portallist .links {
    width: 3.5em;
    /* will expand to fit content */
    text-align: right;
}

.wasabee-dialog-portallist .warn {
    color: #ff0;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
}

.wasabee-dialog-portallist .warn.error {
    color: #f00;
}


/* style.css sets dialog max-width to 700px - override that here */

.wasabee-dialog-linklist {
    max-width: 1000px !important;
}

.wasabee-dialog-portallist>.ui-dialog-content,
.wasabee-dialog-linklist>.ui-dialog-content,
.wasabee-dialog-alertlist>.ui-dialog-content {
    padding: 0;
}

.wasabee-dialog-linklist .wasabee-layer {
    margin: -4px 0 -4px -4px;
}

.wasabee-dialog-linklist td.keys,
.wasabee-dialog-linklist td.length {
    text-align: right;
}

.wasabee-dialog-alertlist td {
    vertical-align: baseline;
}

.wasabee-dialog-alertlist .assignee {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10em;
}

.wasabee-dialog-alertlist .resolved button {
    margin: -3px 0;
    padding: 0 0.5em 1px;
}

#wasabee-fake-button {
    position: absolute;
    top: -9999em;
    left: -9999em;
}

.wasabee-alerts-num {
    color: #00FF00;
}

.wasabee-alerts-num.new {
    color: #ff0000;
    font-weight: bold;
}

.wasabee-agentselect .wasabee-group-indicator {
    float: right;
    margin-left: 0.25em;
}

.wasabee-group-container {
    border: 1px solid currentColor;
    display: inline-block;
    height: 1.2em;
    line-height: 1.2em;
    margin: 1px 0.25em 1px 0;
    padding: 0 0.25em;
}

.wasabee-group-container>.wasabee-group-indicator {
    margin-left: -0.25em;
    margin-right: 0.25em;
    height: 1.2em;
    width: 1.2em;
}

.wasabee-group-indicator {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    vertical-align: top;
}

.wasabee-group-indicator>div {
    height: 1em;
    float: left;
}

.wasabee-popup {
    max-width: 300px;
}

.wasabee-dialog .desc p,
.wasabee-dialog .desc ul,
.wasabee-popup p,
.wasabee-popup ul {
    margin: 0;
}

.wasabee-popup a {
    color: #0099CC;
}

.wasabee-dialog .desc ul,
.wasabee-polygon-label ul,
.wasabee-popup .desc ul {
    padding-left: 1.5em;
}

.wasabee-dialog .desc em,
.wasabee-polygon-label em,
.wasabee-popup .desc em {
    color: inherit;
    font-style: italic;
}

.wasabee-popup.portal .ui-dialog-buttonset {
    display: box;
    display: flex;
    margin-top: 6px;
}

.wasabee-popup.portal .ui-dialog-buttonset button {
    flex-grow: 1;
    box-grow: 1;
}

.wasabee-popup img.avatar {
    max-width: 96px;
    max-height: 96px;
    margin-left: 4px;
    float: right;
}

.wasabee-keys-overlay,
.wasabee-agent-label,
.wasabee-polygon-label {
    color: #FFFFBB;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000, 0 0 5px #000;
    pointer-events: none;
}

.wasabee-keys-overlay {
    line-height: 21px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
}

.wasabee-polygon-label {
    vertical-align: middle;
    font-weight: bolder;
    text-shadow: 0 0 1px white;
}

.wasabee-polygon-label p,
.wasabee-polygon-label ul {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wasabee-overflow-button {
    display: inline-box;
    display: inline-flex;
    min-width: 24px;
    min-height: 20px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    text-decoration: none !important;
    color: #ffce00;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.wasabee-overflow-button span {
    flex: 0 0 auto;
    box: 0 0 auto;
}

.wasabee-overflow-menu {
    border: 1px solid #20a8b1;
    background: rgba(8, 48, 78, 0.9);
    color: #ffce00;
    padding: 0;
    margin: 0;
    position: absolute;
    list-style: none;
    z-index: 30000;
    max-height: 70%;
    max-width: 25em;
    overflow-y: auto;
    overflow-x: hidden;
}

.wasabee-overflow-menu a {
    display: block;
    padding: 0.5em;
    min-width: 8em;
    text-decoration: none;
    outline: 0 transparent none !important;
}

.wasabee-overflow-menu a:hover {
    text-decoration: none;
    background-color: rgba(32, 168, 177, 0.7);
}

.wasabee-overflow-menu a:focus,
.wasabee-overflow-menu a:active {
    text-decoration: underline;
}