/* wasabee-tooltip is used for the quickdraw mouse follower */
.wasabee-tooltip {
  background: rgba(30, 130, 76, 0.66);
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  /* font: 12px/18px "Helvetica Neue",Arial,Helvetica,sans-serif; */
  margin-left: 20px;
  margin-top: -21px;
  padding: 2px 4px;
  position: absolute;
  white-space: nowrap;
  z-index: 6;
}
.wasabee-tooltip:before {
  border-right: 6px solid #000;
  border-right-color: rgba(99, 99, 88, 0.66);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  content: "";
  position: absolute;
  top: 7px;
  left: -7px;
}
.wasabee-tooltip-single {
  margin-top: -12px;
}
.wasabee-error-tooltip {
  background-color: #f2dede;
  border: 1px solid #e6b6bd;
  color: #b94a48;
}
.wasabee-error-tooltip:before {
  border-right-color: #e6b6bd;
}

/* this class is appended to leaflet-popup so we can adjust without stepping on other plugins */
.leaflet-popup.wasabee-popup .leaflet-popup-content-wrapper {
  background: rgba(235, 235, 235, 0.75) !important;
  -webkit-border-radius: 6px !important;
  font-weight: bolder;
}

#map .wasabee-popup .leaflet-popup-content {
    color: black;
}

.wasabee-popup a.enl {
  color: rgb(56, 142, 60) !important;
}
.wasabee-popup a.res {
  color: rgb(0, 135, 255) !important;
}

.wasabee-link-popup .buttonset {
	display: grid;
}

.wasabee-marker-popup {
}
.wasabee-marker-popup div.desc {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
  padding: 4px 4px;
}

.wasabee-popup-assignment {
  padding: 0px 4px 0px 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}

.wasabee-popup-assignment a.wasabee-agent-label {
  margin-left: 4px;
}

.wasabee-marker-popup-kind {
  margin-right: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}

.wasabee-marker-popup-comment {
  font-weight: initial;
}

.wasabee-marker-popup-kind {
  cursor: pointer;
}

.wasabee-marker-popup-kind:hover {
  text-decoration: underline;
}

.wasabee-marker-buttonset {
}
.wasabee-marker-buttonset button {
  display: block;
  width: 100%;
}

.wasabee-agent-popup {
}
.wasabee-agent-popup div.desc {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
  padding: 0px 4px;
}

.wasabee-agent-popup button {
  display: block;
  width: 100%;
}

.wasabee-agent-popup ul.assignments {
  color: rgb(56, 142, 60);
}

.wasabee-agent-popup li.assignment {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wasabee-anchor-popup {
}
.wasabee-anchor-popup div.desc {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
  padding: 0px 4px;
}

.wasabee-anchor-buttonset {
}
.wasabee-anchor-buttonset button {
  display: block;
  width: 100%;
}

.wasabee-wd-popup ul {
  padding-left: 1em;
}

.wasabee-marker-icon {
  background-size: cover;
}

.wasabee-marker-icon.CapturePortalMarker {
  background-image: url(../images/wasabee_markers_capture_pending.svg)
}
.wasabee-marker-icon.CapturePortalMarker.wasabee-status-assigned  {
  background-image: url(../images/wasabee_markers_capture_assigned.svg)
}
.wasabee-marker-icon.CapturePortalMarker.wasabee-status-acknowledged {
  background-image: url(../images/wasabee_markers_capture_acknowledge.svg)
}
.wasabee-marker-icon.CapturePortalMarker.wasabee-status-completed {
  background-image: url(../images/wasabee_markers_capture_done.svg)
}
.wasabee-marker-icon.LetDecayPortalAlert {
  background-image: url(../images/wasabee_markers_decay_pending.svg)
}
.wasabee-marker-icon.LetDecayPortalAlert.wasabee-status-assigned  {
  background-image: url(../images/wasabee_markers_decay_assigned.svg)
}
.wasabee-marker-icon.LetDecayPortalAlert.wasabee-status-acknowledged {
  background-image: url(../images/wasabee_markers_decay_acknowledge.svg)
}
.wasabee-marker-icon.LetDecayPortalAlert.wasabee-status-completed {
  background-image: url(../images/wasabee_markers_decay_done.svg)
}
.wasabee-marker-icon.DestroyPortalAlert {
  background-image: url(../images/wasabee_markers_destroy_pending.svg)
}
.wasabee-marker-icon.DestroyPortalAlert.wasabee-status-assigned  {
  background-image: url(../images/wasabee_markers_destroy_assigned.svg)
}
.wasabee-marker-icon.DestroyPortalAlert.wasabee-status-acknowledged {
  background-image: url(../images/wasabee_markers_destroy_acknowledge.svg)
}
.wasabee-marker-icon.DestroyPortalAlert.wasabee-status-completed {
  background-image: url(../images/wasabee_markers_destroy_done.svg)
}
.wasabee-marker-icon.FarmPortalMarker {
  background-image: url(../images/wasabee_markers_farm_pending.svg)
}
.wasabee-marker-icon.FarmPortalMarker.wasabee-status-assigned  {
  background-image: url(../images/wasabee_markers_farm_assigned.svg)
}
.wasabee-marker-icon.FarmPortalMarker.wasabee-status-acknowledged {
  background-image: url(../images/wasabee_markers_farm_acknowledge.svg)
}
.wasabee-marker-icon.FarmPortalMarker.wasabee-status-completed {
  background-image: url(../images/wasabee_markers_farm_done.svg)
}
.wasabee-marker-icon.GotoPortalMarker {
  background-image: url(../images/wasabee_markers_goto_pending.svg)
}
.wasabee-marker-icon.GotoPortalMarker.wasabee-status-assigned  {
  background-image: url(../images/wasabee_markers_goto_assigned.svg)
}
.wasabee-marker-icon.GotoPortalMarker.wasabee-status-acknowledged {
  background-image: url(../images/wasabee_markers_goto_acknowledged.svg)
}
.wasabee-marker-icon.GotoPortalMarker.wasabee-status-completed {
  background-image: url(../images/wasabee_markers_goto_done.svg)
}
.wasabee-marker-icon.GetKeyPortalMarker {
  background-image: url(../images/wasabee_markers_key_pending.svg)
}
.wasabee-marker-icon.GetKeyPortalMarker.wasabee-status-assigned  {
  background-image: url(../images/wasabee_markers_key_assigned.svg)
}
.wasabee-marker-icon.GetKeyPortalMarker.wasabee-status-acknowledged {
  background-image: url(../images/wasabee_markers_key_acknowledged.svg)
}
.wasabee-marker-icon.GetKeyPortalMarker.wasabee-status-completed {
  background-image: url(../images/wasabee_markers_key_done.svg)
}
.wasabee-marker-icon.CreateLinkAlert {
  background-image: url(../images/wasabee_markers_link_pending.svg)
}
.wasabee-marker-icon.CreateLinkAlert.wasabee-status-assigned  {
  background-image: url(../images/wasabee_markers_link_assigned.svg)
}
.wasabee-marker-icon.CreateLinkAlert.wasabee-status-acknowledged {
  background-image: url(../images/wasabee_markers_link_acknowledged.svg)
}
.wasabee-marker-icon.CreateLinkAlert.wasabee-status-completed {
  background-image: url(../images/wasabee_markers_link_done.svg)
}
.wasabee-marker-icon.MeetAgentPortalMarker {
  background-image: url(../images/wasabee_markers_meetagent_pending.svg)
}
.wasabee-marker-icon.MeetAgentPortalMarker.wasabee-status-assigned  {
  background-image: url(../images/wasabee_markers_meetagent_assigned.svg)
}
.wasabee-marker-icon.MeetAgentPortalMarker.wasabee-status-acknowledged {
  background-image: url(../images/wasabee_markers_meetagent_acknowledge.svg)
}
.wasabee-marker-icon.MeetAgentPortalMarker.wasabee-status-completed {
  background-image: url(../images/wasabee_markers_meetagent_done.svg)
}
.wasabee-marker-icon.OtherPortalAlert {
  background-image: url(../images/wasabee_markers_other_pending.svg)
}
.wasabee-marker-icon.OtherPortalAlert.wasabee-status-assigned  {
  background-image: url(../images/wasabee_markers_other_assigned.svg)
}
.wasabee-marker-icon.OtherPortalAlert.wasabee-status-acknowledged {
  background-image: url(../images/wasabee_markers_other_acknowledge.svg)
}
.wasabee-marker-icon.OtherPortalAlert.wasabee-status-completed {
  background-image: url(../images/wasabee_markers_other_done.svg)
}
.wasabee-marker-icon.RechargePortalAlert {
  background-image: url(../images/wasabee_markers_recharge_pending.svg)
}
.wasabee-marker-icon.RechargePortalAlert.wasabee-status-assigned  {
  background-image: url(../images/wasabee_markers_recharge_assigned.svg)
}
.wasabee-marker-icon.RechargePortalAlert.wasabee-status-acknowledged {
  background-image: url(../images/wasabee_markers_recharge_acknowledge.svg)
}
.wasabee-marker-icon.RechargePortalAlert.wasabee-status-completed {
  background-image: url(../images/wasabee_markers_recharge_done.svg)
}
.wasabee-marker-icon.UpgradePortalAlert {
  background-image: url(../images/wasabee_markers_upgrade_pending.svg)
}
.wasabee-marker-icon.UpgradePortalAlert.wasabee-status-assigned  {
  background-image: url(../images/wasabee_markers_upgrade_assigned.svg)
}
.wasabee-marker-icon.UpgradePortalAlert.wasabee-status-acknowledged {
  background-image: url(../images/wasabee_markers_upgrade_acknowledge.svg)
}
.wasabee-marker-icon.UpgradePortalAlert.wasabee-status-completed {
  background-image: url(../images/wasabee_markers_upgrade_done.svg)
}
.wasabee-marker-icon.UseVirusPortalAlert {
  background-image: url(../images/wasabee_markers_virus_pending.svg)
}
.wasabee-marker-icon.UseVirusPortalAlert.wasabee-status-assigned  {
  background-image: url(../images/wasabee_markers_virus_assigned.svg)
}
.wasabee-marker-icon.UseVirusPortalAlert.wasabee-status-acknowledged {
  background-image: url(../images/wasabee_markers_virus_acknowledge.svg)
}
.wasabee-marker-icon.UseVirusPortalAlert.wasabee-status-completed {
  background-image: url(../images/wasabee_markers_virus_done.svg)
}
.wasabee-marker-icon.ExcludeMarker {
  background-image: url(../images/wasabee_markers_exclude_pending.svg)
}
.wasabee-marker-icon.ExcludeMarker.wasabee-status-assigned  {
  background-image: url(../images/wasabee_markers_exclude_assigned.svg)
}
.wasabee-marker-icon.ExcludeMarker.wasabee-status-acknowledged {
  background-image: url(../images/wasabee_markers_exclude_assigned.svg)
}
.wasabee-marker-icon.ExcludeMarker.wasabee-status-completed {
  background-image: url(../images/wasabee_markers_exclude_done.svg)
}

.wasabee-defense-icon {
  background-size: cover;
  background-image: url(../images/wasabee_markers_key_done.svg)
}

.wasabee-anchor-icon {
  background-size: 25px 41px;
}
.wasabee-anchor-icon.wasabee-layer-main {
  background-image: url(../images/pin_red.svg)
}
.wasabee-anchor-icon.wasabee-layer-groupa {
  background-image: url(../images/pin_orange.svg)
}
.wasabee-anchor-icon.wasabee-layer-groupb {
  background-image: url(../images/pin_yellow.svg)
}
.wasabee-anchor-icon.wasabee-layer-groupc {
  background-image: url(../images/pin_tan.svg)
}
.wasabee-anchor-icon.wasabee-layer-groupd {
  background-image: url(../images/pin_purple.svg)
}
.wasabee-anchor-icon.wasabee-layer-groupe {
  background-image: url(../images/pin_teal.svg)
}
.wasabee-anchor-icon.wasabee-layer-groupf {
  background-image: url(../images/pin_magenta.svg)
}

.wasabee-portal-comment {
  font-size: smaller;
  font-weight: lighter;
  margin-left: 12px;
}

.wasabee-portal-hardness {
  font-size: smaller;
  font-weight: lighter;
  margin-left: 12px;
}

.wasabee-portal-hardness a {
  color: #f00 !important;
}

