.wasabee-pane {
  background: transparent;
  border: 0 none;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  overflow: auto;
}

.wasabee-pane.hidden {
	display: none;
}

.wasabee-pane .header {
  font-size: 1.3em;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #ffce00;
  background-color: #000a;
}