/* wasabee-buttons used in addButtonss */
.wasabee-buttons {
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
}

.wasabee-buttons .leaflet-bar {
  list-style: none;
  padding-left: 0;
}

.wasabee-buttons .leaflet-bar > li {
  position: relative;
}

/* overwrite leaflet css */
.wasabee-buttons .leaflet-bar li a {
    border-radius: unset;
}

.leaflet-touch .wasabee-buttons .leaflet-bar li a {
    border-radius: unset;
}

.wasabee-buttons .leaflet-bar li a {
    border-bottom: 1px solid #ccc;
}

.wasabee-buttons .leaflet-bar li:first-child a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.leaflet-touch .wasabee-buttons .leaflet-bar li:first-child a {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.wasabee-buttons .leaflet-bar li:last-child a {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: none;
}

.leaflet-touch .wasabee-buttons .leaflet-bar li:last-child a {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: none;
}

/* currently applied to both the UL and LI */
/* actions are the buttons, subactions are the flyouts from the button */
/* actions are UL and LI, subactions are LI only */
.wasabee-actions {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 26px;
  top: 0;
  white-space: nowrap;
}

.leaflet-touch .wasabee-actions {
  left: 30px;
}

.wasabee-buttons.leaflet-control a.active {
  background-color: #3c9;
}

.wasabee-actions li {
  display: inline-block;
}
.wasabee-subactions li {
  vertical-align: middle;
}
.wasabee-subactions a {
  background-color: rgba(30, 130, 76, 0.66);
  padding-left: 8px;
  padding-right: 8px;
  width: auto;
  border-left: 1px solid #aaa;
  color: #fff;
}
.wasabee-subactions a:hover {
  background-color: #a0a098;
  width: auto;
}
.wasabee-subactions li:first-child a {
  border-left: none;
}
.wasabee-subactions li:last-child a {
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.wasabee-actions-image {
  vertical-align: middle;
  text-align: center;
}

/*non-iOS device wider screens*/
@media screen and (min-width: 1001px) and (max-width: 1280px) {
  .wasabee-subactions a {
    width: 60px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 3px;
    padding-right: 3px;
  }
}

/*non-iOS device small screens*/
@media screen and (min-width: 401px) and (max-width: 1000px) {
  .wasabee-subactions a {
    width: 50px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 2px;
    padding-right: 2px;
  }
}

/*iOS device screens larger than 400 but not tablet sized */
@media screen and (min-device-width: 401) and (max-device-width: 1000px) {
  .wasabee-subactions a {
    width: 50px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 4px;
    padding-right: 4px;
  }
}

/*iOS screens smaller than 400px*/
@media screen and (max-device-width: 400px) {
  .wasabee-subactions a {
    width: 50px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 2px;
    padding-right: 2px;
  }
}

.wasabee-toolbar-wasabee {
  background-image: url(../images/toolbar_wasabeebutton_out.svg)
}
.wasabee-toolbar-wasabee.wasabee-logged-in {
  background-image: url(../images/toolbar_wasabeebutton_in.svg)
}
.wasabee-toolbar-op {
  background-image: url(../images/toolbar_viewOps.svg);
  background-size: 60%;
}
.wasabee-toolbar-quickdraw {
  background-image: url(../images/toolbar_quickdraw.svg);
  background-size: 60%;
}
.wasabee-toolbar-link {
  background-image: url(../images/toolbar_addlinks.svg)
}
.wasabee-toolbar-marker {
  background-image: url(../images/toolbar_addMarkers.svg)
}
.wasabee-toolbar-sync {
  /*background-image: url(../images/toolbar_sync.png)*/
  background-image: url(../images/toolbar_download.svg)
}
/*.wasabee-toolbar-download {
  background-image: url(../images/toolbar_download.png)
}*/
.wasabee-toolbar-upload {
  background-image: url(../images/toolbar_upload.svg)
}
