/* wasabee-buttons used in addButtonss */
.wasabee-buttons { position: relative; display: block; text-align: center; text-decoration: none }

/* currently applied to both the UL and LI */
/* actions are the buttons, subactions are the flyouts from the button */
/* actions are UL and LI, subactions are LI only */
.wasabee-actions { display: none; list-style: none; margin: 0; padding: 0; position: absolute; left: 26px; top: 0; white-space: nowrap } 
.wasabee-actions li { display: inline-block }
.wasabee-subactions li { vertical-align: middle }
.wasabee-subactions a {
    background-color: rgba(99,99,88,.66);
    /* line-height: 28px; */
    text-decoration: none;
    /* font: 11px/19px "Helvetica Neue",Arial,Helvetica,sans-serif; */
    padding-left: 10px;
    padding-right: 10px;
    width: auto !important;
    border-left: 1px solid #aaa;
    color: #fff;
    /* height: 28px; */
    /* vertical-align: middle; */
}
.wasabee-subactions a:hover { background-color: #a0a098 }
.wasabee-subactions li:first-child a { border-left: none } 
.wasabee-subactions li:last-child a { -webkit-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0 }
.wasabee-actions-image { vertical-align: middle; text-align: center }

/* wasabee-tooltip is used for the quickdraw mouse follower */
.wasabee-tooltip {
  background: rgba(99,99,88,.66);
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  /* font: 12px/18px "Helvetica Neue",Arial,Helvetica,sans-serif; */
  margin-left: 20px;
  margin-top: -21px;
  padding: 4px 8px;
  position: absolute;
  white-space: nowrap;
  z-index: 6
} 
.wasabee-tooltip:before {
  border-right: 6px solid #000;
  border-right-color: rgba(99,99,88,.66);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  content: "";
  position: absolute;
  top: 7px;
  left: -7px
} 
.wasabee-tooltip-single { margin-top: -12px }
.wasabee-error-tooltip { background-color: #f2dede; border: 1px solid #e6b6bd; color: #b94a48 } 
.wasabee-error-tooltip:before { border-right-color: #e6b6bd } 

/* used in anything that is a sortable table */
.wasabee-table tbody tr:nth-child(2n+1) td { border-color: rgba(25,63,95,.75) } 
.wasabee-table tr { background: rgba(25,63,95,.75) }
.wasabee-table tbody tr:nth-child(2n+1) { background: rgba(8,48,78,.75) }
.wasabee-table>thead .sortable:before { content: " "; display: inline-block; float: right; min-width: 1em; text-align: right } 
.wasabee-table td.menu>.wasabee-overflow-button { position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex } 
.wasabee-table { border-collapse: collapse; empty-cells: show; width: 100%; clear: both } 
.wasabee-table td,.wasabee-table th { border-width: 0 1px; border-style: solid; border-color: rgba(8,48,78,.75); padding: 3px 4px; text-align: left } 
.wasabee-table td:first-child,.wasabee-table th:first-child { border-left-width: 0 } 
.wasabee-table td:last-child,.wasabee-table th:last-child { border-right-width: 0 } 
.wasabee-table>thead .sorted { color: #ffce00 } 
.wasabee-table>thead .sortable.asc:before { content: "\25b2" } 
.wasabee-table>thead .sortable.desc:before { content: "\25bc" } 
.wasabee-table td.menu { position: relative; min-height: 20px; min-width: 24px }

.wasabee-overflow-button span { flex: 0 0 auto; box: 0 0 auto } 

/* defined in agent.js, always on an <a> */
.wasabee-agent-label a {
    text-shadow: 1px 1px #000,1px -1px #000,-1px 1px #000,-1px -1px #000,0 0 5px #000;
    color: #ffb;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none
}

.wasabee-marker-popup { display: flex; align-items: center }
.wasabee-marker-popup div.desc { padding: 4px 4px }
.wasabee-marker-buttonset { padding: 2px 2px }
.wasabee-marker-buttonset button { margin-right: 4px }

.wasabee-agent-popup { display: flex; align-items: center }
.wasabee-agent-popup div.desc { padding: 4px 4px }

/* used, not audited */
.wasabee-overflow-menu { border: 1px solid #20a8b1; background: rgba(8,48,78,.9); color: #ffce00; padding: 0; margin: 0; position: absolute; list-style: none; z-index: 30000; max-height: 70%; max-width: 25em; overflow-y: auto; overflow-x: hidden }
.wasabee-overflow-menu a { display: block; padding: .5em; min-width: 8em; text-decoration: none; outline: 0 transparent!important }
.wasabee-overflow-menu a:hover { text-decoration: none; background-color: rgba(32,168,177,.7) }
.wasabee-overflow-menu a:active,.wasabee-overflow-menu a:focus { text-decoration: underline }
.wasabee-overflow-button { align-self: stretch; background-color: rgba(8,48,78,.9); border: 1px solid #ffce00; color: #ffce00; padding: 2px }
.wasabee-overflow-button { display: inline-box; display: inline-flex; min-width: 24px; min-height: 20px; text-align: center; vertical-align: middle; font-weight: 700; text-decoration: none!important; color: #ffce00; cursor: pointer; align-items: center; justify-content: center }

/* all dialogs get this class */
.wasabee-dialog .desc em { color: inherit; font-style: italic }
.wasabee-dialog .desc { margin: 0 }
.wasabee-dialog .desc ul { padding-left: 1.5em }
.wasabee-dialog input,.wasabee-dialog textarea { border: 1px solid rgba(99, 255, 0, 0.45); color: #ffce00; background-color: rgba(0,0,0,.3) }
.wasabee-dialog p { margin: 0 0 6px } 
/* .wasabee-dialog .desc textarea { box-sizing: border-box; width: 100%; height: 4.5em; padding: 3px; resize: vertical } */

/* classes specific to various dialogs */
.wasabee-dialog-about { max-width: min-content; }
.wasabee-dialog-assign { }
.wasabee-agent-menu { align-items: center }

/* this can be simplified now that the send location checkbox is not here */
.wasabee-dialog-auth { max-width: min-content; }
.wasabee-dialog-auth div.content { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; padding: 4px; }
.wasabee-dialog-auth div.useragent { padding: 4px; grid-column-start: 1; grid-column-end: 5; }
.wasabee-dialog-auth div.desc { padding: 4px; grid-column-start: 1; grid-column-end: 5;}
.wasabee-dialog-auth button.andriod { margin: 4px; padding: 4px; grid-column-start: 1; grid-column-end: 5;}
.wasabee-dialog-auth button.gapi { margin: 4px; padding: 4px; grid-column-start: 1; grid-column-end: 5;}
.wasabee-dialog-auth div.options { margin: 4px; grid-column-start: 1; grid-column-end: 5;}
.wasabee-dialog-auth button.webview { margin: 4px; grid-column-start: 1; grid-column-end: 5;}
.wasabee-dialog-auth button.server { margin: 4px; padding: 4px; grid-column-start: 1; grid-column-end: 3;}
.wasabee-dialog-auth button.about { margin: 4px; padding: 4px; grid-column-start: 3; grid-column-end: 5;}

.wasabee-dialog-auth-buttonset { grid-column-start: 1; grid-column-end: 5; }
.wasabee-dialog-auth-buttonset button { margin-right: 4px }
.wasabee-dialog-blockerlist { }
.wasabee-dialog-confirm { align-items: center }
.wasabee-dialog-confirm div.title { }
.wasabee-dialog-wdkeys { }
.wasabee-dialog-wdkeys div.container { display: grid; }
.wasabee-dialog-wdkeys div.portal { padding: 4px 0px 8px 0px; }
.wasabee-dialog-wdkeys input { padding: 4px; }
.wasabee-dialog-wdkeys button { padding: 4px; margin: 4px; }

.wasabee-dialog-export { }
.wasabee-dialog-export textarea { width: 96%; height: 250px; resize: vertical }
.wasabee-dialog-fanfield { } /* fanfield also uses plugin-portal-names for the debug info, ignore for now */
.wasabee-dialog-fanfield div.container { display: grid; grid-template-columns: 1fr 1fr 4fr; }
.wasabee-dialog-fanfield div.desc { grid-column-start: 1; grid-column-end: 7; padding: 4px; }
.wasabee-dialog-fanfield label { padding: 4px; }
.wasabee-dialog-fanfield button { margin: 0px 4px 4px 0px; }
.wasabee-dialog-fanfield span { padding: 4px; grid-column-start: 3; grid-column-end: 7;}
.wasabee-dialog-import { }
.wasabee-dialog-import textarea { width: 96%; height: 250px; resize: vertical }
.wasabee-dialog-keylistportal { }
.wasabee-dialog-keyslist { }
.wasabee-dialog-keyslist .enough { color: #fff }
.wasabee-dialog-keyslist .notenough { color: #900; font-weight: bold; }
.wasabee-dialog-linklist { }
.wasabee-dialog-link { }
.wasabee-dialog-link div.container { display: grid; grid-template-columns: 1fr 1fr 2fr 1fr; }
.wasabee-dialog-link label { padding: 4px; grid-column-start: 1; grid-column-end: 2; }
.wasabee-dialog-link button.set { padding: 4px; grid-column-start: 2; grid-column-end: 3; }
.wasabee-dialog-link span.portal { grid-column-start: 3; grid-column-end: 4; }
.wasabee-dialog-link button.add { padding: 4px; grid-column-start: 4; grid-column-end: 5; }
.wasabee-dialog-link input.desc { padding: 4px; grid-column-start: 4; }
.wasabee-dialog-manageteam { }
.wasabee-dialog-markeradd { }
.wasabee-dialog-markeradd div.content { display: grid; grid-template-columns: 1fr 1fr; padding: 4px; }
.wasabee-dialog-markeradd div.portal { grid-column-start: 1; grid-column-end: 3; padding: 0px 0px 8px 0px; }
.wasabee-dialog-markeradd div.content select { margin: 4px; }
.wasabee-dialog-markeradd div.content input { margin: 4px; }
.wasabee-dialog-markeradd div.content button { grid-column-start: 1; grid-column-end: 3; margin: 4px; padding: 8px }
.wasabee-dialog-markerlist { }
.wasabee-dialog-newop { }
.wasabee-dialog-newop div.buttonset button { padding: 8px 24px 8px 24px; margin: 24px 8px 24px 8px }
.wasabee-dialog-newop div.buttonset { display: grid; grid-template-columns: 1fr; }
.wasabee-dialog-ops { }
.wasabee-dialog-ops div.topset { display: grid; grid-template-columns: 1fr 1fr; row-gap: 4px; }
.wasabee-dialog-ops select { width: auto; grid-column-start: 1; grid-column-end: 3;}
.wasabee-dialog-ops textarea { grid-column-start: 1; grid-column-end: 3; width: auto; height: 50px; resize: vertical; }
.wasabee-dialog-ops p.comment { grid-column-start: 1; grid-column-end: 3; }
.wasabee-dialog-ops input { width: auto; }
.wasabee-dialog-ops div.buttonset { display: grid; grid-template-columns: 1fr; text-align: center; }
.wasabee-dialog-ops div.buttonset button { width: 96%; padding: 8px 24px 8px 24px; margin: 2px 2px 2px 2px }
.wasabee-dialog-checklist { }
.wasabee-dialog-perms { }
.wasabee-dialog-prompt {}
.wasabee-dialog-prompt div.container { display: grid }
.wasabee-dialog-prompt label { padding: 4px; }
.wasabee-dialog-prompt input { padding: 4px; }
.wasabee-dialog-setcomment { }
.wasabee-dialog-setcomment div.container { display: grid; }
.wasabee-dialog-setcomment div.desc { padding: 4px; }
.wasabee-dialog-setcomment input { padding: 4px; width: 96%; }
.wasabee-dialog-settings { }
.wasabee-dialog-settings div.container { display: grid; grid-template-columns: 1fr 1fr; }
.wasabee-dialog-settings label { grid-column-start: 1; grid-column-end: 2; }
.wasabee-dialog-settings select { grid-column-start: 2; grid-column-end: 3; }
.wasabee-dialog-settings input { grid-column-start: 2; grid-column-end: 3; }

.wasabee-dialog-starburst { }
.wasabee-dialog-starburst div.container { display: grid; grid-template-columns: 1fr 1fr 2fr; }
.wasabee-dialog-starburst div.desc { padding: 4px; grid-column-start: 1; grid-column-end: 4; }
.wasabee-dialog-starburst label { padding: 4px; }
.wasabee-dialog-starburst button { padding: 4px; }
.wasabee-dialog-starburst div.anchor { padding: 4px; }
.wasabee-dialog-wasabee { }
.wasabee-dialog-wasabee div.container { display: grid; }
.wasabee-dialog-wasabee button.server { padding: 4px; margin: 4px; grid-column-start: 1;  }
.wasabee-dialog-wasabee button.sendloc { padding: 4px; margin: 4px; grid-column-start: 1; }
