/* used in anything that is a sortable table */
/* .wasabee-table tbody tr:nth-child(2n + 1) td { border-color: rgba(50, 0, 125, 1); } */
.wasabee-table tr {
  /* background: rgba(225, 235, 225, 1); */
  background: rgba(25, 63, 95, 0.75);
}

.wasabee-table tbody tr:nth-child(2n + 1) {
  /* background: rgba(240, 240, 240, 1); */
  background: rgba(8, 48, 78, 0.75);
}
.wasabee-table > thead .sortable:before {
  content: " ";
  display: inline-block;
  float: right;
  min-width: 1em;
  text-align: right;
}

.wasabee-table {
  border-collapse: collapse;
  empty-cells: show;
  width: 100%;
  clear: both;
}
.wasabee-table td,
.wasabee-table th {
  border-width: 0 1px;
  border-style: solid;
  /* border-color: rgba(50, 0, 125, 1); */
  padding: 3px 4px;
  text-align: left;
  /* color: rgba(0, 0, 0, 1); */
  vertical-align: baseline;
}
.wasabee-table td:first-child,
.wasabee-table th:first-child {
  border-left-width: 0;
}
.wasabee-table td:last-child,
.wasabee-table th:last-child {
  border-right-width: 0;
}
.wasabee-table > thead .sorted {
  /* color: rgba(125, 90, 195, 1); */
}
.wasabee-table > thead .sortable.asc:before {
  content: "\25b2";
}
.wasabee-table > thead .sortable.desc:before {
  content: "\25bc";
}
/* .wasabee-table td.menu { position: relative; min-height: 20px; min-width: 24px; } */

.wasabee-dialog-agent ul {
  padding-left: 0;
}

.wasabee-dialog-agent li {
  list-style: none;
}

/* defined in agent.js, always on an <a> -- can this be pruned ? */
.wasabee-agent-label a {
  text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000,
    0 0 5px #000;
  color: #ffb;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
}

.wasabee-dialog .container {
  align-items: center;
}

/* all dialogs get this class -- do global stuff with it */
/* .wasabee-dialog {
  background-color: rgba(250, 250, 250, 0.9);
  border: 1px solid rgba(35, 175, 30, 0.75);
  color: #000;
  cursor: pointer;
  margin-top: 4px;
  margin-bottom: 2px;
}

.wasabee-dialog button {
  cursor: pointer;
  padding: 1px 7px 2px;
  border: initial;
  background-color: buttonface;
  color: buttontext;
  border-image: initial;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-width: 1px;
  border-style: solid;
  margin: 2px 0px 2px 0px;
}

.wasabee-dialog input {
  color: initial;
  background-color: rgba(240, 255, 240, 1);
  padding: 2px 4px;
}

.wasabee-dialog a {
  color: rgba(125, 90, 195, 1);
}

.wasabee-dialog h3 {
  color: rgba(125, 90, 195, 1);
}

.wasabee-dialog div.ui-dialog-titlebar {
  background-color: rgba(150, 150, 150, 1);
  color: #000;
  text-align: left;
  line-height: 14px;
  font-size: 13px;
  border: 1px solid rgba(180, 190, 180, 1);
}

.wasabee-dialog span.ui-dialog-title { }

.wasabee-dialog span.ui-dialog-title-active {
  color: rgba(15, 250, 5, 1);
}

.wasabee-dialog .ui-dialog-titlebar-button {
  border: 1px solid rgba(15, 250, 5, 1);
  color: rgba(15, 250, 5, 1);
}

.wasabee-dialog .ui-dialog-content {
  background-color: rgba(180, 190, 180, .8);
}

.wasabee-dialog .ui-dialog-buttonpane {
  background-color: rgba(180, 190, 180, .8);
  padding: 4px;
  border-top: initial;
} */

.wasabee-dialog input[type=checkbox] {
  margin: auto;
}

.wasabee-dialog button.drawb::before {
  content: "🐝";
}

/* classes specific to various dialogs */
.wasabee-dialog-about {
  max-width: min-content;
}
.wasabee-dialog-assign {
}
.wasabee-agent-menu {
  align-items: center;
}

.wasabee-dialog-auth .content {
  display: grid;
}

.wasabee-dialog-autodraws {
}
.wasabee-dialog-autodraws div.container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 4px;
}
.wasabee-dialog-autodraws a {
  grid-column-start: 1;
  grid-column-end: 2;
}

.wasabee-dialog-blockerlist {
}
.wasabee-dialog-confirm {
  align-items: center;
}
.wasabee-dialog-confirm div.title {
}
.wasabee-dialog-wdkeys {
}
.wasabee-dialog-wdkeys div.container {
  display: grid;
}
.wasabee-dialog-wdkeys div.portal {
  padding: 4px 0px 8px 0px;
}
.wasabee-dialog-wdkeys input {
  padding: 4px;
}
.wasabee-dialog-wdkeys button {
}

.wasabee-dialog-export {
}
.wasabee-dialog-export textarea {
  width: 96%;
  height: 250px;
  resize: vertical;
}

.wasabee-dialog-import {
}
.wasabee-dialog-import textarea {
  width: 100%;
  height: 250px;
  resize: vertical;
}
.wasabee-dialog-keylistportal {
}
.wasabee-dialog-keyslist {
}
.wasabee-dialog-keyslist .enough {
  color: #03fe03;
  font-weight: bold;
}
.wasabee-dialog-keyslist .notenough {
  color: #ffce00;
  font-weight: bold;
}

.wasabee-dialog-linklist {
}

.wasabee-dialog-manageteam {
}
.wasabee-dialog-manageteam div.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.wasabee-dialog-manageteam div.list {
  grid-column-start: 1;
  grid-column-end: 4;
}
.wasabee-dialog-manageteam label {
  grid-column-start: 1;
  grid-column-end: 2;
}
.wasabee-dialog-manageteam input {
  margin: 2px 2px 2px 2px;
  grid-column-start: 2;
  grid-column-end: 3;
}
.wasabee-dialog-manageteam button {
  grid-column-start: 3;
  grid-column-end: 4;
}

.wasabee-dialog-markeradd {
}

.wasabee-dialog-markeradd div.content {
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 8px;
  column-gap: 8px;
  align-items: baseline;
}

.wasabee-dialog-markeradd div.portal {
  grid-column: 1 / span 2;
}

.wasabee-dialog-markeradd div.content button {
  grid-column: 1 / span 2;
  border-radius: 35px;
  border-style: groove;
  padding: 4px;
  border: 2px solid goldenrod;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
  margin: 0px 25px;
}

.wasabee-dialog-markeradd div.bulk {
  grid-column: 2;
}

.wasabee-dialog-markeradd div.content input {
  grid-column: 1 / span 2;
}

.wasabee-dialog-markerlist {
}

.wasabee-dialog-newop {
}
.wasabee-dialog-newop div.buttonset {
  display: grid;
  grid-template-columns: 1fr;
}

.wasabee-dialog-op-settings div.topset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4px;
}
.wasabee-dialog-op-settings textarea {
  grid-column-start: 1;
  grid-column-end: 3;
  width: auto;
  height: 50px;
  resize: vertical;
}
.wasabee-dialog-op-settings p.comment {
  grid-column-start: 1;
  grid-column-end: 3;
}
.wasabee-dialog-op-settings input {
  width: auto;
  -moz-transform: scale(1);
}
.wasabee-dialog-op-settings div.buttonset {
  display: grid;
  grid-template-columns: 1fr;
}
.wasabee-dialog-op-settings div.buttonset button {
  margin: 4px;
  width: 100%;
}
.wasabee-dialog-ops div.container {
    overflow-y: hidden;
}
.wasabee-dialog-ops .wasabee-table .actions {
    white-space: nowrap;
}
.wasabee-dialog-ops .wasabee-table .actions a {
    padding: .25em
}
.wasabee-dialog-ops .wasabee-table.hideOps .visibility {
  display: none;
}
.wasabee-dialog-checklist .wasabee-table .actions {
    white-space: nowrap;
}
.wasabee-dialog-checklist .wasabee-table .actions a {
    padding: .25em
}
.wasabee-dialog-perms .add-perm {
  display: grid;
  grid-template-columns: repeat(4, auto);
}
.wasabee-dialog-perms .add-perm select {
  width: 100%;
}
.wasabee-dialog-prompt {
}
.wasabee-dialog-prompt div.container {
  display: grid;
}
.wasabee-dialog-prompt label {
  padding: 4px;
}
.wasabee-dialog-prompt input {
  padding: 4px;
}
.wasabee-dialog-setcomment {
}
.wasabee-dialog-setcomment div.container {
  display: grid;
}
.wasabee-dialog-setcomment div.desc {
  padding: 4px;
}
.wasabee-dialog-setcomment input {
  padding: 4px;
  width: 96%;
}

.wasabee-dialog-settings div.container > * {
  display: block;
  width: 100%;
  margin: 0.3em 0;
}
.wasabee-dialog-settings div.container > :first-child {
  border: none;
  margin: 0;
}
.wasabee-dialog-settings label {
  border-top: solid 1px #fff5;
  padding: 0.3em 0 0 0;
}
.wasabee-dialog-settings label.checkbox input {
  margin-right: .5rem;
  vertical-align: middle;
}

.wasabee-dialog-trawl div.container {
  display: grid;
  grid-template-columns: 1fr;
}

.wasabee-dialog-trawl div.container div {
    display: grid;
    grid-template-columns: auto auto;
}

.wasabee-dialog-wasabee {
}
.wasabee-dialog-wasabee div.container {
  display: grid;
}
.wasabee-dialog-wasabee button.server {
  grid-column-start: 1;
}
.wasabee-dialog-wasabee button.sendloc {
  grid-column-start: 1;
}

.wasabee-dialog-skin div.content {
    display: grid;
    grid-template-columns: auto auto;
}

.wasabee-dialog-skin div.desc {
  grid-column: 1 / span 2;
}

.wasabee-dialog-skin ol.left {
  clear:both;
  border: 1px solid white;
  padding-left: 0;
  margin-right: 1em;
}

.wasabee-dialog-skin ul.right {
  clear:both;
  border: 1px solid white;
  padding-left: 0;
}

.wasabee-dialog-skin ul.right {
  list-style-type:none;
}

.wasabee-dialog-skin li {
    padding: 3px;
    border: 1px solid #888;
    height: 1.5em;
    list-style-position:inside;
}

.wasabee-dialog-zone .wasabee-table .actions {
    white-space: nowrap;
}
.wasabee-dialog-zone .wasabee-table .actions a {
    padding: .25em
}

.wasabee-link-seperator:before {
    content: " ➾ ";
}

/* in our dialogs and popups, use a darker green for ENL for better contrast */
/* .wasabee-dialog a.wasabee-portal {
  color: #ff6600;
  text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000,
}
.wasabee-dialog a.enl { color: rgb(56, 142, 60) !important; }
.wasabee-dialog a.res { color: rgb(0, 135, 255) !important; }
a.wasabee-portal {
  color: #ff6600;
  text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000,
}
a.wasabee-portal.enl { color: rgb(56, 142, 60) !important; }
a.wasabee-portal.res { color: rgb(0, 135, 255) !important; }
 */

/* marker color */
.CapturePortalMarker {
  color: #7d7d7d;
}
.LetDecayPortalAlert {
  color: #000000;
}
.DestroyPortalAlert {
  color: #ce3b37;
}
.FarmPortalMarker {
  color: #f17030;
}
.GotoPortalMarker {
  color: #e235a9;
}
.GetKeyPortalMarker {
  color: #78b32c;
}
.CreateLinkAlert {
  color: #0a5d00;
}
.MeetAgentPortalMarker {
  color: #6b553d;
}
.OtherPortalAlert {
  color: #3c3c3c;
}
.RechargePortalAlert {
  color: #298566;
}
.UpgradePortalAlert {
  color: #298566;
}
.UseVirusPortalAlert {
  color: #400080;
}
.ExcludeMarker {
  color: #000099;
}

.field-count li.empty-field-link div {
  display: inline;
  padding-left: 1em;
}

.field-count li.inner-link > div {
  display: inline;
}

.field-count ul {
  padding-left: 1em;
}

.wasabee-dialog-merge .conflicts {
  border-collapse: collapse;
  empty-cells: show;
  width: 100%;
  clear: both;
  background: #0004;
}

.wasabee-dialog-merge .conflicts tr:nth-child(2n + 1) {
  background: #0004;
}

.wasabee-dialog-merge .conflicts td,
.wasabee-dialog-merge .conflicts th {
  border-width: 0 1px;
  border-style: solid;
  padding: 3px 4px;
  text-align: left;
  vertical-align: baseline;
}
.wasabee-dialog-merge .conflicts td:first-child,
.wasabee-dialog-merge .conflicts th:first-child {
  border-left-width: 0;
}
.wasabee-dialog-merge .conflicts td:last-child,
.wasabee-dialog-merge .conflicts th:last-child {
  border-right-width: 0;
}

.wasabee-dialog-merge .conflicts th:nth-child(2),
.wasabee-dialog-merge .conflicts th:nth-child(3) {
  width: 2em;
}

.wasabee-dialog-merge .strike {
  text-decoration: line-through red;
  padding-right: .5em;
}
.wasabee-dialog-merge .diff-label {
  padding-right: .5em;
}

/* color pickers */
input[type=color].hidden-color-picker {
  visibility: hidden;
  width: 0;
  height: 0;
  border: 0;
  padding: 0;
  margin: 0;
}
